@tailwind base;
@tailwind components;
@tailwind utilities;

nav div .active button {
    @apply rounded-md bg-primary-100;
  }
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
